@charset "ISO-8859-1";
body {
	
   /*  background-image: url(Haircut.jpg),url(Background-2.jpg);
    background-repeat: no-repeat, repeat-y;
    background-color: #cccccc;
    background-size: cover; */
    
}
#container{
	display:block;
}

.heading{
	float:left;
}
.header {
	/*font-size: 2em;*/
    color: #408080;
    /* text-shadow: 1px 1px 2px #408080, 0 0 25px #008000, 0 0 5px #00ff80; */
   /*  -webkit-margin-before: 0%;
    -webkit-margin-after: 0%;
    -webkit-margin-start: 0%;
    -webkit-margin-end: 0%; */
    font-weight: bold;
    Font-style: oblique;
    position: fixed;
    /* width: 100% */;
    /* top: 10px;
    z-index: 100; */
}
#collapsedMenu {
	width: 60%;
    height: 5%;
    background-color: hsl(200, 30%, 87%);
    border-top-left-radius: 75vh;
    float: right;
    OPACITY: 0.8;
    border-top-left-radius: 75vh;
    float: right;
    display: -webkit-inline-box;
}
#staticicons{
	float:right;
	
}
/* #signUp,#signIn{
	display: none;
	font-size: 1.5em;
    -webkit-margin-before: 5%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
    font-weight: bold;
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(28, 100%, 95%)    ;
    opacity: 0.9;
    height: 40vh;
    width: 50vw;
} */
 

table {
    align-self: center;
    -webkit-margin-before: 10%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
    text-align: center;
}

input {
       -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    width: 30vw;
    height: 4vh;
    border-width: 0.1em;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#hiddenicon  {
  display: none;
  float:left;
}

#Menu{
	display:none;
	float: right;
    background-color: #a4b5b3;
    font-size: 2vw;
    -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 0%;
    font-weight: bold;
    display: none;
	font-size: 1.5em;
    font-weight: bold;  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(0, 0%, 93%);
    opacity: 0.9;
      color: #408080;
}

.container {
   /*  padding: 2px 16px; */
   /* // background-color: rgba(255, 0, 0, 0.4); */
  
       border-top-left-radius: 3vh;
      border-top-right-radius: 3vh;
      border-bottom-left-radius: 3vh;
      border-bottom-right-radius: 3vh;
    font-style: oblique;
  
    
}
.headerMenu{
	border-bottom: 1px;
    border-width: 1px;
    border-style: ridge;
     -webkit-margin-before: 5%;
    -webkit-margin-after:  5%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
}
#FrontPageText{
	
		   font-size: 4vh;
		   Font-style:Oblique;
    position: absolute;
   bottom:0; 
   width: 70%;
   height: 40%;
   /*  background-repeat: repeat; */
   color: hsl(207, 26%, 91%);
   text-shadow: 1px 1px 2px #408080, 0 0 25px #008000, 0 0 5px #00ff80;
  transform: translate(25%, 65%); 
  
    font-weight: bold;
    Float:right;
   
	
}
#onlineCheckInDiv,#onlineCouponsDiv,#AboutUsDiv{
	
	font-size: 1.5em;
    bottom: 0;
    background-repeat: no-repeat;
    /* background-color: hsl(0, 0%, 100%); */
    opacity: 0.7;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    font-weight: bold;
    -webkit-margin-before: 5%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
    position: relative;
    Padding: 2%;
    width: 50%;
    /* padding-left: 5%; */
 
	
}

.coupons{
	display:flex;
}
.coupon {
      border: 5px #bbb;
    width: 80%;
    border-radius: 15px;
    padding: 0.5%;
    margin: 0 auto;
    max-width: 600px; 
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.1), 0 0 25px rgba(255, 0, 0, 0.2), 0 0 5px rgba(255, 0, 0, 0.4);
}
.promo {
    background: #ccc;
    padding: 3px;
}
.expire {
    color: red;
}
.subMenu{
	display:none;
}
a:link {
    text-decoration: none;
}
span.clear { 
	clear: left; 
	display: none; }
#container1 {
    background-color: #e2dada;
    background-image: url(Background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centered-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
* {
	padding: 0;
	margin: 0;
	outline: none;
}

#signIn{
	background: rgba(255, 255, 255, 0.8);
    box-shadow: rgb(163, 157, 157) 20px 20px 20px;
    width: 30%;
   /*  padding-right: 55px;
    padding-left: 55px; */
}
body {
	background-color: #d9d9d9;
	font-size: 14px;
	font-family: "Gotham Book", sans-serif;
}
a {
	text-decoration: none;
	color: #fb6362;
}
a:hover {
	color: #f98584;
}
li {
	list-style: none;
}
h2 {
	font-weight: normal;

}
/* for containers */
.container {
	/* margin: 20px auto; */
	/* background-color: #fff; */
	overflow: hidden;
	/* border-radius: 4px; */
	 
}
.container .icon {
	background-image: url('https://res.cloudinary.com/dw369yzsh/image/upload/v1483213851/icons_wykol9.png');
	width: 27px;
	height: 30px;
}
.calendar th, .graph {
	font-family: "Gotham Medium", sans-serif;
	color: #666666;
}
/*buttons*/
.container button {
	text-transform: uppercase;
	border: none;
	background-color: #17a2b8;
	color: #fff;
	margin: 0 auto;
	display: block;
	box-shadow: 0 3px 5px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.8);
	border-radius: 4px;
	font-size: 15px;
	font-family: "Gotham Book", sans-serif;
	cursor: pointer;
	-webkit-transition: background-color 0.2s; 
	   -moz-transition: background-color 0.2s; 
		-ms-transition: background-color 0.2s; 
		 -o-transition: background-color 0.2s; 
			transition: background-color 0.2s; 
}
.container button:hover {
	background-color: #f98584;
}
.container button:active {
	background-color: #f98584;
	position: relative;
	top: 2px;
}
button.button-big {
	width: 100%;
	height: 58px;
}
/*inputs*/
.input-text {
	border-radius: 2px;
	background-color: #f4f4f4;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	padding-left: 11px;
	position: relative;
	height: 46px;
	line-height: 46px;
}
.input-text .icon {
	position: absolute;
	right: 4px;
	top: 4px;
}
.input-text input, .input-text textarea, .div-file label {
	border: none;
	background-color: transparent;
	font-family: "Gotham Light", sans-serif;
	color:#999999;
}
/*placeholders hell*/
.container .input-text input::-webkit-input-placeholder, .container .input-text textarea::-webkit-input-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input::-moz-placeholder, .container .input-text textarea::-moz-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input:-moz-placeholder, .container .input-text textarea:-moz-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input:-ms-input-placeholder, .container .input-text textarea:-ms-input-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}


#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8;
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	display: none;
}


/***** Calendar *****/

.calendar {
	width: 346px;
	height: 426px;
	position: fixed;
	top: 50%; 
	left: 50%; 
	margin-top: -213px;
	margin-left: -173px;
	z-index: 5;
	display: none;
}
.calendar .header {
	background-color: #404a58;
	color: #fff;
	font-size: 17px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	position: relative;
}
.calendar .arr {
	position: absolute;
	width: 13px;
	height: 30px;
	cursor: pointer;
	top: 25px;
}
.calendar .prev {
	left: 38px;
}
.calendar .next {
	background-position: 0 -30px;
	right: 38px;

}
/*table*/
.calendar table {
	width: 287px;
	height: 248px;
	margin: 11px auto 20px auto;
	text-align: center;
	vertical-align: middle;
	color: #666666;
}
.calendar tr, td {
	width: 41px;
}
.calendar td:not(.notCurMonth) {
	cursor: pointer;
	-webkit-transition: background-color 0.2s; 
	   -moz-transition: background-color 0.2s; 
		-ms-transition: background-color 0.2s; 
		 -o-transition: background-color 0.2s; 
			transition: background-color 0.2s;
}
.calendar td:not(.notCurMonth):not(.curDay):hover {
	background-color: #f4f4f4;
	border-radius: 19px;
}
.calendar .holiday {
	font-weight: bold;
	color: #fb6362;
}
.calendar .curDay {
	font-weight: bold;
	color: #fff;
	background-color: #fb6362;
	border-radius: 19px;
}
.calendar .notCurMonth {
	color: #c5c5c5;
}



/***** Booking form *****/

.booking {
	width: 100%;
	/* height: 700px;  dont fix the height. height has to be dynamic. */
	background-image: url(Background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1060px) {
 .booking {
	width: 40%;
	/* height: 700px;  dont fix the height. height has to be dynamic. */
	background-image: url(Background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.booking .persons .input-text {
    width: 200%;
    height: 45px;
    padding: 0;
    margin-top: 9px;
}

.booking .persons select {
    font-size: 14px;
    width: 200%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #404a58;
    padding-left: 9px;
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
}
.is-sent{
	/* animation: launch 1s ease-in-out forwards */
} 
@keyframes launch {
  0% {
            transform: translateY(0);
  }
  10%, 15% {
            transform: translateY(20px);
  }
  100% {
            transform: translateY(-700px);
  }
  
}
.booking .header {
	width: 100%;
	height: 25%;
	background-image: url('https://res.cloudinary.com/dw369yzsh/image/upload/v1483213946/img_booking_ck8dw4.jpg');
	position: relative;
	/* background-repeat: no-repeat; */
	color: #fff;
}
.booking .header div {
	position: absolute;
	left: 22px;
	top: 117px;
}
.booking .header h2 {
	font-size: 25px;
}
.booking .header p {
	font-family: "Gotham Light", sans-serif;
	margin: 4px 0 0 21px;
}
.booking .header .icon {
	background-position: 0 -60px;
	position: absolute;
	left: 4px;
	top: 33px;
 
}
/*inputs*/
.booking .dates, .booking .persons {
	width: 100%;
	margin: 26px auto 0 auto;
}

.booking label:not(.checkbox) {
	display: block;
}
.booking .dates .input-text {
	margin-top: 10px;
}
.booking .dates .input-text:nth-child(2) {
	margin-bottom: 20px;
}
.booking .input-text .icon {
	width: 36px;
	height: 36px;
	background-color: #17a2b8;
	border-radius: 2px;
	background-position: 10px -80px;
	cursor: pointer;
}
/*checkbox*/
.div-chck {
	position: relative;
	margin-top: 16px;
}
.div-chck input, .div-chck .icon.input-text  {
	top: -2px;
	left: 0;
	position: absolute;
	width: 23px;
	height: 23px;
}
.div-chck input {
	opacity: 0;
	z-index: 1;
}
.div-chck .icon.input-text {
	background-position: -30px -415px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
.div-chck input:checked+.icon {
	background-position: 4px -415px;
}
.div-chck label{
	margin-left: 34px;
}
/*selects*/
.booking .persons li {
	display: inline-block;
	font-size: 0;
	    width: 90%;
}
 .persons1 li {
	display: inline-block;
	font-size: 0;
	    width: 40%;
}
.booking .persons li:last-child {
	/* padding-left: 20px; */
	padding-bottom: 20px;
}
.booking .persons label {
	font-size: 14px;
}
.booking .persons .input-text {
	width: 100%;
	height: 45px;
	padding: 0;
	margin-top: 9px;
}
.booking .persons select {
	font-size: 14px;
	width: 200%;
	height: 100%;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #404a58;
	padding-left: 9px;
	position: relative;
	z-index: 1;
	-webkit-appearance: none;
	   -moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
			appearance: none;
}
.booking .persons option {
	background-color: #f4f4f4;
} 
.booking .persons option:hover {
	background-color: red;
}
.booking .persons .icon {
	background-position: 15px -106px;
}

/*button*/
.booking .button-big {
	position: relative;
	/* padding-left: 20px; */
	
}
.booking .button-big .icon {
	background-position: 0 -150px;
	position: absolute;
	left: 59px;
}
#map {
        height: 400px;
        width: 100%;
       }
.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #2d0707;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 100%; /* Modified for signup*/
    padding: 10px 40px;
	
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
border-radius: 3em;
    z-index: 1000;
    background: #b0dce8;
    /* background-image: url(Background-3.jpg); */
    color: #17a2b8;
    border-style: outset;

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
#map {
        height: 400px;
        width: 100%;
       }
.location-select{
	
}
.selection{
	        display: flex;
    width: 100%;
}
/* Sign up code ---from below */
.container_signin {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
 /*  padding: 12px; */
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  /* width: 50%; */
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 50%;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #17a2b8;
  border-radius: 0px 0px 4px 4px;
}

.Signup-input-group-addon{
	
	padding: 0;
    padding-top: 10px;
    margin: 0;
    outline: none
}
/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 760px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}