@charset "ISO-8859-1";
body {
	
     background-image: url(Haircut.jpg),url(Background-2.jpg);
    background-repeat: no-repeat, repeat-y;
    background-color: #cccccc;
    background-size: cover;
    
}

#container{
	display:block;
}
#homePage{
	
}
#banner {
	 
    width:100%;
    height:40%;
    font-weight: bold;
	position:fixed;
	float: left;
	transform: translate(0%, 0%); 
}

#header {
	 font-size: 2em;
	 color: #408080;
     /*  text-shadow: 1px 1px 2px #408080, 0 0 25px #008000, 0 0 5px #00ff80; */
	  -webkit-margin-before: 0%;
    -webkit-margin-after: 0%;
    -webkit-margin-start: 0%;
    -webkit-margin-end: 0%;
    font-weight: bold;
    Font-style:oblique;
	position:fixed;
	float: left;
}
#collapsedMenu {
	 width: 40%;
    height: 5%;
    background-color: hsl(200, 30%, 87%);
    border-top-left-radius: 75vh;
    float: right;
    OPACITY: 0.8;
	~moz-border-radius: 1000px/500px;
	~webkit-border-radius:1000px/500px;
	border-top-left-radius: 75vh;
	float: right;
}
#staticicons{
	float:right;
	
}
#signIn{
	display: none;
	font-size: 1.5em;
    -webkit-margin-before: 5%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
    font-weight: bold;
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(28, 100%, 95%)    ;
    opacity: 0.9;
    height: 40vh;
    width: 50vw;
}
#signUp{
	display: none;
	font-size: 1.5em;
    -webkit-margin-before: 5%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
    font-weight: bold;
    float: right;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(28, 100%, 95%);
    opacity: 0.9;
     height: 40vh;
    width: 50vw;
}

table {
    align-self: center;
    -webkit-margin-before: 10%;
    -webkit-margin-after: 5%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 10%;
}
input {
   -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    width: 30vw;
    height: 2vh;
    border-width: 0.5em;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#signUpIcon{
	float:left;
	font-size: 2vw;
    -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 0%;
    font-weight: bold;
        color: #408080;
}
#hiddenicon  {
  display: none;
  float:left;
}
/*For Ipad Portrait view and below that*/
@media (max-width: 768px) {

  #hiddenicon  {
  display: block;
  font-size: 2vw;
  -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
   
} 
#signUpIcon{
	display:none;
}
#signInIcon{
	display:none;
}

#AboutUsIcon{
	display:none;
}
}

#signInIcon{
	    font-size: 2vw;
   -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
        color: #408080;
    font-weight: bold;
    float:left;
   
}

#AboutUsIcon{
	    font-size: 2vw;
   -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
        color: #408080;
    font-weight: bold;
    float:left;
   
}
#MainMenuIcon{
	   font-size: 2vw;
   -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
    font-weight: bold;
        color: #408080;
	float:left;	
}
#OnlineCheckInIcon{
	   font-size: 2vw;
    -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
    font-weight: bold;
        color: #408080;
	float:left;
}
#OnlineCouponsIcon{
	 font-size: 2vw;
  -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
    font-weight: bold;
	float:left;
	    color: #408080; 
}
#Menu{
	display:none;
	float: right;
    background-color: #a4b5b3;
    font-size: 2vw;
    -webkit-margin-before: 3%;
    -webkit-margin-after: 2%;
    -webkit-margin-start: 10%;
    -webkit-margin-end: 0%;
    font-weight: bold;
    display: none;
	font-size: 1.5em;
    font-weight: bold;  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: hsl(0, 0%, 93%);
    opacity: 0.9;
      color: #408080;
}

#FrontPageText{
	
		   font-size: 4vh;
		   Font-style:Oblique;
    position: absolute;
   bottom:0; 
   width: 70%;
   height: 40%;
   /*  background-repeat: repeat; */
   color: hsl(207, 26%, 91%);
   text-shadow: 1px 1px 2px #408080, 0 0 25px #008000, 0 0 5px #00ff80;
  transform: translate(25%, 65%); 
  
    font-weight: bold;
    Float:right;
   
	
}
#onlineCheckInDiv{
	
		   font-size: 1.5em;
   position: absolute;
   bottom:0;
   width: 40%;
   height: 35%;
    background-repeat: no-repeat;
   background-color: hsl(163, 31%, 66%);;
   opacity: 0.7;
  transform: translate(70%, 220%); 
      border-top-left-radius: 5vh;
      border-top-right-radius: 5vh;
      border-bottom-left-radius: 5vh;
      border-bottom-right-radius: 5vh;
    font-weight: bold;
    float:center;
	
}

#onlineCouponsDiv{
	
		   font-size: 1.5em;
   position: absolute;
   bottom:0;
   width: 45%;
   height: 30%;
    background-repeat: no-repeat;

  transform: translate(50%, 400%); 
    font-weight: bold;
    float:right;
    -webkit-margin-before: 1%;
    -webkit-margin-after:  5%;
    -webkit-margin-start: 0%;
    -webkit-margin-end: 0%;
	
}


#AboutUsDiv{
	
  font-size: 4vh;
		   Font-style:Oblique;
    position: absolute;
   bottom:0; 
   width: 70%;
   height: 40%;
    

  transform: translate(150%, 500%); 
    
    float:right;
   
	
}

table {
  align-self: center;
}

.coupon {
      border: 5px #bbb;
    width: 80%;
    border-radius: 15px;
    padding: 0.5%;
    margin: 0 auto;
    max-width: 600px; 
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.1), 0 0 25px rgba(255, 0, 0, 0.2), 0 0 5px rgba(255, 0, 0, 0.4);
}

.container {
    padding: 2px 16px;
    background-color: rgba(255, 0, 0, 0.4);
  
       border-top-left-radius: 3vh;
      border-top-right-radius: 3vh;
      border-bottom-left-radius: 3vh;
      border-bottom-right-radius: 3vh;
    font-style: oblique;
  
    
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}
.coupons{
	display:flex;
}
.subMenu{
	display:none;
}
.headerMenu{
	border-bottom: 1px;
    border-width: 1px;
    border-style: ridge;
     -webkit-margin-before: 5%;
    -webkit-margin-after:  5%;
    -webkit-margin-start: 5%;
    -webkit-margin-end: 0%;
}